DB_HOST=postgres-database
DB_PORT=5432
DB_NAME=weatherForecast
DB_USER=postgres
DB_PASSWORD=postgres

POSTGRES_DB=weatherForecast
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5434

OPEN_WEATHER_API_KEY=put-your-api-key-here
SERVER_PORT=your port