OPENWEATHER_API_KEY=put-your-api-key-here

DB_HOST=localgit add .host
DB_PORT=5433
DB_NAME=weatherForecast
DB_USER=postgres
DB_PASSWORD=postgres

POSTGRES_DB=weatherForecast
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433